<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
    <header class="header">
        <div class="header-container">
            <a class="logo" href="/">CodeJourney</a>
            <nav class="nav">
                <div class="nav-links">
                    <a href="/">Home</a>
                    <a href="/blog">Blog</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                </div>
            </nav>
        </div>
    </header>

    <main class="main-content">
        <h1 id="title-blog">MY BLOGS</h1>
        <section class="blog-posts">
            <article class="blog-post">
                <img src="https://images.unsplash.com/photo-1555949963-aa79dcee981c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Blog Post Image" class="post-image">
                <div class="post-content">
                    <h2 class="post-title">"The Evolution of Web Development: What’s Next?"</h2>
                    <p class="post-date">September 21, 2024</p>
                    <p class="post-description">Trace the evolution of web development from HTML to advanced technologies like HTML5 and CSS3. Explore JavaScript frameworks, responsive design, and future trends such as Web 3.0 and AI integration. Discover how these innovations will shape the future of the web.</p>
                </div>
            </article>
            <article class="blog-post">
                <img src="https://images.unsplash.com/photo-1640161704729-cbe966a08476?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Blog Post Image" class="post-image">
                <div class="post-content">
                    <h2 class="post-title">"Blockchain Beyond Cryptocurrency: Exploring New Applications"</h2>
                    <p class="post-date">September 22, 2024</p>
                    <p class="post-description">Explore blockchain applications beyond cryptocurrencies, including supply chain transparency and secure data sharing. Discover innovations like smart contracts and their impact on voting systems, intellectual property, and digital identity management.</p>
                </div>
            </article>
            <article class="blog-post">
                <img src="https://images.unsplash.com/photo-1588590560438-5e27fe3f6b71?q=80&w=1428&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Blog Post Image" class="post-image">
                <div class="post-content">
                    <h2 class="post-title">"Virtual Reality in Education: Enhancing Learning Experiences"</h2>
                    <p class="post-date">September 23, 2024</p>
                    <p class="post-description">Discover how Virtual Reality (VR) enriches education through immersive experiences like virtual field trips and interactive simulations. Explore its benefits, successful case studies, and challenges such as cost and accessibility.</p>
                </div>
            </article>
            <article class="blog-post">
                <img src="https://images.unsplash.com/photo-1599658880436-c61792e70672?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Blog Post Image" class="post-image">
                <div class="post-content">
                    <h2 class="post-title">"How to Build a Career in Data Science: A Beginner’s Guide"</h2>
                    <p class="post-date">September 24, 2024</p>
                    <p class="post-description">Get started in data science with essential skills in Python, statistics, and machine learning. Learn how to build a portfolio, network effectively, and gain practical experience through projects and internships.</p>
                </div>
            </article>
            <article class="blog-post">
                <img src="https://images.unsplash.com/photo-1485827404703-89b55fcc595e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Blog Post Image" class="post-image">
                <div class="post-content">
                    <h2 class="post-title">"AI in Healthcare: Revolutionizing Patient Care"</h2>
                    <p class="post-date">September 25, 2024</p>
                    <p class="post-description">Explore how artificial intelligence is transforming healthcare with diagnostic tools, personalized medicine, and advanced patient management systems. Understand its role in improving patient outcomes and operational efficiency.</p>
                </div>
            </article>
            <article class="blog-post">
                <img src="https://plus.unsplash.com/premium_photo-1689801528484-6fc4743b96e0?q=80&w=1378&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Blog Post Image" class="post-image">
                <div class="post-content">
                    <h2 class="post-title">"The Role of Quantum Computing in Modern Technology"</h2>
                    <p class="post-date">September 26, 2024</p>
                    <p class="post-description">Dive into quantum computing and its potential impact across industries. Explore quantum algorithms, enhanced computational power, and future applications poised to revolutionize technology.</p>
                </div>
            </article>
            <article class="blog-post">
                <img src="https://images.unsplash.com/photo-1597765221336-1f65bb4c4fee?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Blog Post Image" class="post-image">
                <div class="post-content">
                    <h2 class="post-title">"Exploring the Future of 3D Printing: Innovations and Challenges"</h2>
                    <p class="post-date">September 27, 2024</p>
                    <p class="post-description">Examine advancements in 3D printing technology and its diverse applications. Highlight benefits, limitations, and emerging trends shaping the future of 3D printing.</p>
                </div>
            </article>
            <article class="blog-post">
                <img src="https://images.unsplash.com/photo-1655393001768-d946c97d6fd1?q=80&w=1476&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Blog Post Image" class="post-image">
                <div class="post-content">
                    <h2 class="post-title">"The Impact of Artificial Intelligence on Job Markets"</h2>
                    <p class="post-date">September 28, 2024</p>
                    <p class="post-description">Analyze how AI is reshaping job markets worldwide. Explore opportunities and challenges that AI presents for workers and employers, including potential job displacement and new roles.</p>
                </div>
            </article>
            <article class="blog-post">
                <img src="https://images.unsplash.com/photo-1717444308827-d0f206a4de1e?q=80&w=1528&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Blog Post Image" class="post-image">
                <div class="post-content">
                    <h2 class="post-title">"The Rise of Edge Computing: Benefits and Use Cases"</h2>
                    <p class="post-date">September 29, 2024</p>
                    <p class="post-description">Explore edge computing and its benefits for various applications. Learn how edge computing reduces latency and improves data processing efficiency in modern technologies.</p>
                </div>
            </article>
            <article class="blog-post">
                <img src="https://images.unsplash.com/photo-1614846027182-cecfee3a427b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Blog Post Image" class="post-image">
                <div class="post-content">
                    <h2 class="post-title">"5G Technology and Its Potential Impact on IoT"</h2>
                    <p class="post-date">September 30, 2024</p>
                    <p class="post-description">Explore the synergy between 5G technology and the Internet of Things (IoT). With 5G's ultra-fast speeds and low latency, IoT devices can communicate more effectively, enhancing smart home applications, industrial automation, and real-time data processing. This combination promises to revolutionize connectivity and efficiency.</p>
                </div>
            </article>
            <article class="blog-post">
                <img src="https://images.unsplash.com/photo-1616161560417-66d4db5892ec?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Blog Post Image" class="post-image">
                <div class="post-content">
                    <h2 class="post-title">"Ethical Considerations in AI Development"</h2>
                    <p class="post-date">October 1, 2024</p>
                    <p class="post-description">Discuss the ethical challenges associated with artificial intelligence, including issues of bias, privacy, and accountability. As AI systems become more integrated into society, addressing these concerns is crucial to ensure they are developed and used responsibly, safeguarding fairness and trust.</p>
                </div>
            </article>
            <article class="blog-post">
                <img src="https://images.unsplash.com/photo-1466611653911-95081537e5b7?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Blog Post Image" class="post-image">
                <div class="post-content">
                    <h2 class="post-title">"Sustainable Technology: Innovations for a Greener Future"</h2>
                    <p class="post-date">October 2, 2024</p>
                    <p class="post-description">Explore advancements in sustainable technology aimed at reducing environmental impact. Innovations such as renewable energy sources, eco-friendly materials, and efficient waste management systems are transforming industries. Learn how these technologies contribute to a greener future and promote sustainability on a global scale.</p>
                </div>
            </article>
            <article class="blog-post">
                <img src="https://plus.unsplash.com/premium_photo-1718198501449-204442b4c7a1?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Blog Post Image" class="post-image">
                <div class="post-content">
                    <h2 class="post-title">"How Augmented Reality is Transforming Retail Experiences"</h2>
                    <p class="post-date">October 3, 2024</p>
                    <p class="post-description">Analyze the role of augmented reality (AR) in revolutionizing retail experiences. AR enhances shopping by providing interactive displays, virtual try-ons, and immersive product visualizations. This technology is reshaping consumer behavior and expectations, offering a more engaging and personalized shopping experience.</p>
                </div>
            </article>
            <article class="blog-post">
                <img src="https://images.unsplash.com/photo-1541233220655-133d23471d3f?q=80&w=1488&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Blog Post Image" class="post-image">
                <div class="post-content">
                    <h2 class="post-title">"The Future of Smart Cities: Technologies and Trends"</h2>
                    <p class="post-date">October 4, 2024</p>
                    <p class="post-description">Explore the concept of smart cities and the technologies driving their development. From smart infrastructure and IoT-enabled services to data-driven decision-making, learn about the latest trends and how they are shaping more efficient, connected, and sustainable urban environments.</p>
                </div>
            </article>
            <article class="blog-post">
                <img src="https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Blog Post Image" class="post-image">
                <div class="post-content">
                    <h2 class="post-title">"Understanding Cybersecurity Threats: A Comprehensive Guide"</h2>
                    <p class="post-date">October 5, 2024</p>
                    <p class="post-description">Provide a detailed overview of current cybersecurity threats, including common attack vectors like phishing, ransomware, and data breaches. Explore best practices for protecting digital assets and securing networks to safeguard against evolving threats in an increasingly digital world.</p>
                </div>
            </article>
            <article class="blog-post">
                <img src="https://images.unsplash.com/photo-1480694313141-fce5e697ee25?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Blog Post Image" class="post-image">
                <div class="post-content">
                    <h2 class="post-title">"How to Secure Your Personal Data in a Digital World"</h2>
                    <p class="post-date">October 6, 2024</p>
                    <p class="post-description">Discuss the importance of securing personal data in the digital age. Offer practical tips for protecting sensitive information, including the use of strong passwords, encryption, and awareness of common online threats. Learn how to stay safe and maintain privacy in an increasingly connected world.</p>
                </div>
            </article>
            <article class="blog-post">
                <img src="https://images.unsplash.com/photo-1609151376730-f246ec0b99e5?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Blog Post Image" class="post-image">
                <div class="post-content">
                    <h2 class="post-title">"Innovations in Cloud Storage: What’s New in 2024"</h2>
                    <p class="post-date">October 7, 2024</p>
                    <p class="post-description">Explore the latest innovations in cloud storage technology. From enhanced security features and increased storage capacities to new integrations and improved performance, discover how these advancements are transforming data management for both individuals and businesses in 2024.</p>
                </div>
            </article>            
        </section>
    </main>
    
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-section">
                <h2 class="footer-title">About Us</h2>
                <p class="footer-text">Welcome to CodeJourney, where we bridge the gap between technology and innovation. Our mission is to provide insightful and timely information on the latest trends, breakthroughs, and challenges in the IT world.</p>
            </div>
            <div class="footer-section">
                <h2 class="footer-title">Quick Links</h2>
                <ul class="footer-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h2 class="footer-title">Contact Us</h2>
                <p class="footer-text">100542, India, Gaziabad</p>
                <p class="footer-text">Email: CodeJourney23@example.com</p>
                <p class="footer-text">Phone: (+91) 9399554549</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 CodeJourney. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>

